{"filter":false,"title":".gitignore","tooltip":"/ReduxSimpleStarter/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1570206640636,"hash":"4abdb75d8a49883a8cd5b0ca1d5b26627438aa50"}